
<div style = "text-align: right; margin-right: 5px;" >
<% if !current_user.present? %>
<p><%= link_to 'User SignUp', new_user_registration_path %></p>
<p><%= link_to 'Admin SignUp', new_super_admin_registration_path %></p>
<% else %>
<%= link_to "Log out", destroy_user_session_path, :method => :delete %>
<% end %>
</div>


<h1>User Page</h1>

<h3>Listing Users</h3>
 
<table class= "table">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>City</th>
    <th>Phone Number</th>
  </tr>
 
  <% @users.each do |user| %>
    <tr>
      <td><%= user.name %></td>
      <td><%= user.email %></td>
      <td><%= user.city %></td>
      <td><%= user.phone_number %></td>
    </tr>
  <% end %>
</table>
